* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

#window {
    margin: 4px 4px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: #303030;
    color: white;
}

#clock {
    margin: 4px 0;
    padding: 0 10px;
    border-radius: 20px;
    background-color: #eec17c;
    color: white;
}

#network {
    margin: 4px 4px;
    padding: 0 10px;
    border-radius: 20px;
    background-color: #303030;
    color: white;
}
